/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:root {
    --swal2-actions-margin: 0.5em auto 0;
    --swal2-title-padding: 1.5125em 1em 0;
    --swal2-padding: 0 0 1.75em;
    --swal2-border-radius: 12px;
    
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset css 끝 */

/* webfont */

@font-face {
    font-family: 'Paperlogy-4Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
/* 기본스타일 */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 13px;
}

body {
  font-family: 'Paperlogy-4Regular';
}

/* 기본 공통 스타일 */
input[type="text"],
input[type="number"],
input[type="range"],
input[type="password"],
input[type="email"],
select,
textarea {
    appearance: none;
    -webkit-appearance: none;
    font-family: inherit;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 1em; /* 약 16px */
    border-radius: 0.3125em; /* 5px */
    padding: 0.625em 1.25em; /* 10px 20px */
    min-width: 6em; /* 64px */
    outline: none;
    transition: border 0.2s ease, box-shadow 0.2s ease;
    width: 100%;
    box-sizing: border-box;
}
.admin input[type="text"]:focus,
.admin input[type="number"]:focus,
.admin input[type="password"]:focus,
.admin input[type="email"]:focus,
.admin select:focus,
.admin textarea:focus {
    border-color: #85d8ea;
    box-shadow: 0 0 0 2px #85d8ea4d;
}
/* 체크박스 & 라디오 */
input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    margin: 0;
    margin-right: 6px;
    cursor: pointer;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #ccc;
}
input[type="checkbox"]:checked::before {
    content: "✔";
    position: absolute;
    top: 0px;
    left: 3px;
    font-size: 12px;
    color: #85d8ea;
}
input[type="radio"] {
    border-radius: 50%;
}
input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    margin-top: -4px;
    background: #85d8ea;
    border-radius: 50%;
}
/* 슬라이더 (range) */
input[type="range"] {
    height: 6px;
    background: #ffffff;
    border-radius: 3px;
    outline: none;
    padding: 0;
    margin: 8px 0;
}
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background: #85d8ea;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    transition: background 0.2s ease;
}
input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #85d8ea;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}
/* select 스타일 */
select {
    background: #fff url("data:image/svg+xml;utf8,<svg fill='gray' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 10px center;
    background-size: 12px;
    padding-right: 32px;
}
button {
    appearance: none;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 1em; /* 약 16px */
    border-radius: 0.3125em; /* 5px */
    padding: 0.625em 1.25em; /* 10px 20px */
    cursor: pointer;
    min-width: 5em; /* 64px */
    transition: background-color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
    line-height: 1.5;
}
button.btn-icon {
    min-width: 0;
    height: 3em;
    width: 3em;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
button.btn-mint {
    color: #ffffff;
    background-color: #85d8ea;
    border: 1px solid #85d8ea;
}
button.btn-mint:hover {
    background-color: #6ccde8;
    border-color: #6ccde8;
}
button.btn-mint:active {
    background-color: #58c1e6;
    border-color: #58c1e6;
}

/* 보라색 버튼 (새로 추가) */
button.btn-purple {
    color: #ffffff;
    background-color: #aaa1f3;
    border: 1px solid #aaa1f3;
}
button.btn-purple:hover {
    background-color: #978bf1;
    border-color: #978bf1;
}
button.btn-purple:active {
    background-color: #8477ef;
    border-color: #8477ef;
}
button.btn-white {
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
}
button.btn-white:hover {
    background-color: #f5f5f5;
    border-color: #ccc;
}
button.btn-white:active {
    background-color: #eaeaea;
    border-color: #bbb;
}
button.btn-sky {
    color: #fff;
    background-color: #2196f3;
    border: 1px solid #2196f3;
}
button.btn-sky:hover {
    background-color: #1976d2;
    border-color: #1976d2;
}
button.btn-sky:active {
    background-color: #1565c0;
    border-color: #1565c0;
}
button.btn-red {
    color: #fff;
    background-color: #f44336;
    border: 1px solid #f44336;
}
button.btn-red:hover {
    background-color: #d32f2f;
    border-color: #d32f2f;
}
button.btn-red:active {
    background-color: #b71c1c;
    border-color: #b71c1c;
}
button:disabled {
    background-color: #ccc;
    border-color: #ccc;
    color: #666;
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.7;
}
/* disabled 추가 */
/* input, select, textarea */
input[type="text"]:disabled,
input[type="number"]:disabled,
input[type="range"]:disabled,
select:disabled,
textarea:disabled {
    background-color: #f5f5f5;
    color: #999;
    border-color: #ddd;
    cursor: not-allowed;
    opacity: 0.7;
}

/* checkbox & radio */
input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
    background-color: #f0f0f0;
    border-color: #ddd;
    cursor: not-allowed;
    opacity: 0.6;
}
input[type="checkbox"]:disabled:checked::before,
input[type="radio"]:disabled:checked::before {
    color: #bbb;
    background-color: #bbb;
}

/* range */
input[type="range"]:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
    opacity: 0.5;
}
input[type="range"]:disabled::-webkit-slider-thumb,
input[type="range"]:disabled::-moz-range-thumb {
    background: #ccc;
    cursor: not-allowed;
}


.app-capture {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
}

.app-capture .pulse {
  display: none !important;
}